{
	margin:0px;
	padding:0px;
	font-family: verdana; 

}
header{
	margin:100px auto;
	width:1000px;
	height:230px;  
	position: relative;
	left: 3%;
	top: 30px;
}
div.contenedor{
	width: 300px;
	height: 230px;


}
div.salir{
	position: absolute;
	top: 560px;
	left: 650px;
}
div#uno{
	position: absolute;
	left: 320px;
	background-color: rgb(48, 221, 69,0.80); 

}
div#dos{
	position: absolute;
	left: 450px;
	background-color: rgb(255, 107, 34 ,0.80);
}

img.icon{
	position: absolute;
	height: 150px;
	width:150px;
	left: 80px;
	top: 30px;

}

p.texto{
	font-size: 1.2em;
	color: rbga(170, 183, 184);
	position: absolute;
	top: 80px;
	left: 110px;
	padding-top:60px;
}




